body {
  background-color: skyblue;
  bottom: 0;
}

h1 {
  color: purple;
  text-align: center;
}

h2 {
  color: blue;
  text-align: left;
}

h4 {
  text-align: center;
}

.row div {
  float: left;
  padding: 20px;
  margin: 20px;
}

.row {
  margin-left: 15%;
}

.main {
  height: 200vh;
  overflow: auto;
  padding-bottom: 180px;
}